@import url('./index.scss');

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .6rem 2rem;
    color: var(--black);
    background: var(--white);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  
    .one {
      display: flex;
      align-items: center;
  
      img {
        margin-left: 50px;
        width: 50px;
        height: auto;
        border-radius: 51% 49% 55% 45% / 32% 36% 64% 68% ; // make the image circular if it's a logo
      }
    }
  
    .two {
      display: flex;
      gap: 3.5rem; // space between nav links
      margin-right: 50px;
  
      a {
        text-decoration: none;
        color: #000000;
        font-family:var(--font1);
        position: relative;
        padding: 0.5rem;
  
        &:hover {
          color: #00aaff; // hover effect color
          transition: color 0.3s ease-in-out;
        }
  
        &::after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          width: 0;
          height: 2px;
          background:var(--color1); // underline hover effect color
          transition: width 0.3s ease-in-out;
        }
  
        &:hover::after {
          width: 100%; // underline expands on hover
        }
      }
    }
  
    // Responsive styles
    @media (max-width: 768px) {
      flex-direction: column;
      text-align: center;
  
      .two {
        margin-top: 1rem;
        flex-direction: column;
        gap: 1rem;
      }
    }
  }
  