@keyframes scroll-logos {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%); // Move -50% since we're duplicating the logos
  }
}

.partners-container {
  position: relative;
  width: 90%;
  overflow: hidden;
  background-color: #fff;
  margin: auto;
  margin-top: 70px;

  .scrolling-logos {
    display: flex;
    align-items: center;
    animation: scroll-logos 40s linear infinite;
    transition: animation-play-state 0.3s ease;

    &.paused {
      animation-play-state: paused; // Pause animation on hover
    }

    .logo {
      flex: 0 0 auto; // Prevent shrinking
      padding: 0 30px; // Add spacing between logos

      img {
        height: 60px; // Adjust logo size
        width: auto;
      }
    }
  }
}
